<% if @uploader.category == Uploader::TYPES[:indicator_2_0] %>
  <h1>Upload New HC 2.0 File </h1>
<% else %>
  <h1>New Uploader</h1>
<% end %>
<%= render 'form_new' %>

<%= link_to 'Back', uploaders_path %>
