<div class="col-md-12">
  <div class="profile-content">
    <h2> Welcome, </h2>
    <p> This is the administrator Panel for the Atlas</p>
    <%= link_to 'View Resources', resources_path, :class => "btn_custom"%>
  </div>
</div>
