.row-fluid
  .span8
    %p
      Chicago Health Atlas is undergoing maintenance. We are creating a new website with more features and more data partners. If you are a health provider and would like to partner on this project, please complete the form below.

    <iframe src="https://docs.google.com/forms/d/1UDPW-_kUUfcI6j2etDT_wR28AnLTnLt9z1WIzg27Spc/viewform?embedded=true" width="760" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> 

    %p
      If you would like to see the current status of our new website, 
      = succeed '.' do
        %a{:href => 'http://www.chicagohealthatlas.org'} go here
      If you have any questions, please contact the project manager, Kyla Williams, at 
      = succeed '.' do
        %a{:href => 'mailto:kwilliams@cct.org'} kwilliams@cct.org