<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <%= link_to('Start Upload', new_spreadsheet_path, :class=> "btn_new_spreadsheet") %>
    </div>
  </div>
<% end %>
