.row-fluid
  .span12
    %h1.text-center.intro
      Chicago Health Atlas
    %p.lead.text-center
      The Chicago Health Atlas is a place where you can view citywide information about health trends and take action near you to improve your own health.

.row-fluid
  .span4
    %a(href="map")
      %img.img-polaroid(src="/assets/home_city.png"alt="Citywide data")
    %p
      View 
      %a{:href => 'map'}citywide data 
      to get big-picture views of health outcomes in Chicago.
  .span4
    %a(href="places")
      %img.img-polaroid(src="/assets/home_neighborhood.png"alt="Neighborhood level data")
    %p
      Browse your 
      %a{:href => 'places'}neighborhood or zip code 
      for specific conditions and info near you. 
  .span4
    %a(href="map/affordable_resources")
      %img.img-polaroid(src="/assets/home_location.png"alt="Locations")
    %p
      Find places where you can improve your own health, right in your own neighborhood.

.row-fluid
  %h3
    To get started, 
    %a{:href => 'map'} browse the map
    or 
    = succeed '.' do
      %a{:href => 'places'} choose a location

.row-fluid
  .span12
    %h2
      Partners
    %p
      This project is the result of many partners working to present data and analysis about health in Chicago. Learn more  
      %a{:href => 'about'}about us
      and our 
      = succeed '.' do
        %a{:href => 'partners'}partners
      If you are a health data provider and would like to take part in this project, please view our
      %a{:href => '/partner_sign_up'} partner sign up form
      to get in touch. <b>Questions?</b> 
      %a{:href => 'mailto:kwilliams@cct.org'}Contact Kyla Williams
      of the 
      = succeed '.' do
        %a{:href => 'http://www.smartchicagocollaborative.org'}Smart Chicago Collabrative