.row-fluid
  .span8
    .alert.alert-block
      %h4 Chicago Health Atlas is undergoing maintenance
      %p
        We are creating a new website with more features and more data partners.

    %p
      The Chicago Health Atlas is a place where you can view citywide information about health trends and take action near you to improve your own health.
    
    %p
      We display large amounts of data from sources like the City of Chicago and local hospitals so you can get big-picture views of health outcomes in Chicago. 

    %p
      If you are a health data provider and would like to take part in this project, please complete the form below and we will contact you right away!

    %p
      %strong Questions? 
      Contact project manager Kyla Williams, at 
      = succeed '.' do
        %a{:href => 'mailto:kwilliams@cct.org'} kwilliams@cct.org

    <iframe src="https://docs.google.com/forms/d/1UDPW-_kUUfcI6j2etDT_wR28AnLTnLt9z1WIzg27Spc/viewform?embedded=true" width="760" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> 