.row-fluid
  .span12
    %h1
      The Chicago Health Atlas
    %p.lead
      The Chicago Health Atlas is a place where you can view citywide information about health trends and take action near you to improve your own health.

.row-fluid
  .span4
    %a(href="map/births_birth_rate")
      %img.img-polaroid(src="/assets/home_city.png"alt="Citywide data")
    %p
      View citywide data to get big-picture views of health outcomes in Chicago.
  .span4
    %a(href="places")
      %img.img-polaroid(src="/assets/home_neighborhood.png"alt="Neighborhood level data")
    %p
      Browse your 
      %a{:href => 'places'}neighborhood or zip code 
      for specific conditions and info near you. 
  .span4
    %a(href="#")
      %img.img-polaroid(src="/assets/home_location.png"alt="Locations")
    %p
      Find places where you can improve your own health, right in your own neighborhood.

.row-fluid
  %h3
    To get started, 
    %a{:href => 'map/births_birth_rate'} browse the map
    or 
    = succeed '.' do
      %a{:href => 'places'} choose a location

.row-fluid
  .span12
    %h2
      Partners
    %p
      %a{:href => 'partners'} Learn more
      about our partners. If you are a health data provider and would like to take part in this project, please view our
      %a{:href => '/partner_sign_up'} partner sign up form
      to get in touch. 
    %p
      Questions? Contact Kyla Williams of the Smart Chicago Collabrative, at 
      = succeed '.' do
        %a{:href => 'mailto:kwilliams@cct.org'} kwilliams@cct.org