.row-fluid
  .span12
    %h2 Partners
    
    %p
      If you are a health data provider and would like to take part in this project, please fill out our
      %a{:href => 'partner_sign_up'} Partner Form.
    %p
      Questions? Contact Kyla Williams of the Smart Chicago Collabrative, at 
      %a{:href => 'mailto:kwilliams@cct.org'} kwilliams@cct.org
