.row-fluid
  .span12
    %h2 Partner sign up

    %p
      If you are a health data provider and would like to take part in this project, please complete the form below and we will contact you right away!

    #wufoo-x7x0k1
      Fill out my <a href="http://smartchicago2012.wufoo.com/forms/x7x0k1">online form</a>.

    <script type="text/javascript">var x7x0k1;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'smartchicago2012', 
    'formHash':'x7x0k1', 
    'autoResize':true,
    'height':'666',
    'async':true,
    'header':'hide', 
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { x7x0k1 = new WufooForm();x7x0k1.initialize(options);x7x0k1.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>