%h1 Hospitals in Chicago

= raw(render_source_links( 'Illinois Health Facilities and Services Review Board', 'http://www.hfsrb.illinois.gov/HospProf_ABR.htm', 'https://github.com/datamade/chicago-atlas/blob/e6169124587041c36d034ec2dc75932fe5108437/db/import/hospital_source_data.xlsx?raw=true', 1))

<br><br>

%ul
  - @hospitals.each do |hospital|
    %li
      %a{:href => "/hospital/#{hospital.slug}"}
        = hospital.name