-title 'Healthy Chicago 2.0'

#intro
    .row
        %h1.span10.offset1 Healthy Chicago 2.0
        
    .row
        %p.span10.offset1 The Chicago Department of Public Health (CDPH), in collaboration with the Partnership for Healthy Chicago, completed a comprehensive community health assessment in 2015. From these findings, CDPH, the Partnership, public health stakeholders and community residents identified 10 priority areas to focus community health improvement efforts on over the next 4 years. These priority areas include both health outcomes and social determinants of health, as well as public health infrastructure elements like partnerships and data: 

    .row
        %ol.span10.offset2
            %li Expanding Partnerships and Community Engagement 
            %li Improving Social, Economic and Community Conditions 
            %li Improving Education 
            %li Increasing Access to Health Care and Human Services 
            %li Promoting Behavioral Health 
            %li Strengthening Child and Adolescent Health 
            %li Preventing and Controlling Chronic Disease 
            %li Preventing Infectious Diseases 
            %li Reducing Violence 
            %li Utilizing and Maximizing Data and Research 

    .row
        %p.span10.offset1 After completing the community health assessment, CDPH convened ten action teams to develop specific goals, objectives and strategies to address each priority. These goals, objectives and actionable strategies form Healthy Chicago 2.0, Chicago’s four-year community health improvement plan. In total, Healthy Chicago 2.0 outlines 82 objectives and over 200 strategies to help reach 30 goals. In order to measure progress towards each goal, CDPH and action team members identified 75 indicators to serve as annual benchmarks towards our 2020 targets.

    .row
        %p.span10.offset1 The indicators have been categorized into the following sections: Overarching Outcomes, Access, Community Development, Education, Behavioral Health, Child & Adolescent Health, Chronic Disease, Infectious Disease and Violence. Explore the indicator table below to learn more about what CDPH and our partners will be monitoring towards the goal of achieving health equity in Chicago.  Check back regularly for implementation updates and the status of each indicator as new data becomes available. 

.table#indicators
    %table.table.table-bordered
        / Headers
        / Row 1
        %col
        %col
        %col{:width => "12%"}
        %col
        %col{:width => "12%"}
        %col{:width => "12%"}
        %col
        %tr.headers
            %th INDICATOR
            %th DESCRIPTION
            %th CITYWIDE BASELINE
            %th PRIORITY POPULATION
            %th PRIORITY POPULATION BASELINE
            %th 2020 TARGET & CHANGE FROM BASELINE
            %th DATASOURCE

        / Overarching
        / Row 2
        %tr.overarching.category
            %th{:colspan => 7} OVERARCHING

        / Row 3
        %tr.overarching
            %td.indicator OVERALL HEALTH STATUS 
            %td Percentage of adults who report their health as “good", "very good" or "excellent"
            %td.stat
                .statistic 81.6%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 81.6%
                %div (2014)
            %td.stat
                .statistic 85.7%
                %div (5% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 4
        %tr.overarching
            %td.indicator LIFE EXPECTANCY
            %td Life expectancy at birth in years
            %td.stat
                .statistic 77.8
                %div (2012)
            %td Citywide
            %td.stat
                .statistic 77.8
                %div (2012)
            %td.stat
                .statistic 79.4
                %div (2% increase)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/birth-death-other-records"} Death Data, Division of Vital Records, Illinois Department of Public Health
        / Row 5
        %tr.overarching
            %td.indicator PREVENTABLE HOSPITALIZATIONS
            %td Rate of potentially preventable hospitalizations which includes certain acute illnesses (e.g., deyhydration) and worsening chronic conditions (e.g., hypertension) that might not have required hospitalization had these conditions been managed successfully by primary care providers in outpatient settings.
            %td.stat
                .statistic 172.3
                %div per 10,000
                %div (2011)
            %td Citywide
            %td.stat
                .statistic 172.3
                %div per 10,000
                %div (2011)
            %td.stat
                .statistic 163.7
                %div per 10,000
                %div (5% decrease)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/prevention-wellness/patient-safety-quality/discharge-data"} Discharge Data, Division of Patient Safety and Quality, Illinois Department of Public Health

        / Row 6
        %tr.overarching
            %td.indicator{:rowspan => 2} OBESITY
            %td Percentage of Chicago Public School kindergartners who are obese
            %td.stat
                .statistic 19.1%
                %div (2012-2013)
            %td Citywide
            %td.stat
                .statistic 19.1%
                %div (2012-2013)
            %td.stat
                .statistic 18.2%
                %div (5% decrease)
            %td
                %a{:href => "http://cps.edu/Pages/home.aspx"} Chicago Public Schools

        / Row 7
        %tr.overarching
            // %td OBESITY 
            %td Percentage of adults who are obese
            %td.stat
                .statistic 28.8%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 28.8%
                %div (2014)
            %td.stat
                .statistic 27.4%
                %div (5% decrease)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health
        
        / Row 8
        %tr.overarching
            %td.indicator DISCRIMINATION
            %td Percentage of adults who report ever experiencing discrimination, been prevented from doing something or been hassled or made to feel inferior because of their race, ethnicity or color
            %td{:colspan => 4} Data available 2016
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health
        
        / Row 9
        %tr.overarching
            %td.indicator ECONOMIC HARDSHIP
            %td Population living in communities experiencing high economic hardship
            %td.stat
                .statistic 835,249
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 835,249
                %div (2014)
            %td.stat
                .statistic 793,487
                %div (5% decrease)
            %td
                %a{:href => "http://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml"} American Community Survey 2010-2014, US Census Bureau
        
        / Row 10
        %tr.overarching
            %td.indicator CHILD OPPORTUNITY
            %td Number of children (0-17 years) living in communities with low or very low child opportunity
            %td.stat
                .statistic 297,352
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 297,352
                %div (2014)
            %td.stat
                .statistic 282,484
                %div (5% decrease)
            %td
                %a{:href => "http://www.diversitydatakids.org/"} diversitydatakids.org; Kirwan Institute for the Study of Race and Ethnicity

        / Row 11
        %tr.overarching
            %td.indicator TRAUMA-INFORMED CITY
            %td City agencies and community-based organizations are trained and understand the impact that violence and trauma has on individuals and communities.
            %td{:colspan => 5} Data and metric forthcoming

        / Yellow Supercategory

        / Access
        / Row 12
        %tr.yellow.category
            %th{:colspan => 7} ACCESS

        / Row 13
        %tr.yellow
            %td.indicator PRIMARY CARE PROVIDER
            %td Percentage of adults who have a personal doctor or health care provider
            %td.stat
                .statistic 80.8%
                %div (2014)
            %td Hispanic
            %td.stat
                .statistic 68.4%
                %div (2014)
            %td.stat
                .statistic 75.2%
                %div (10% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health


        / Row 14
        %tr.yellow
            %td.indicator NO HEALTH INSURANCE
            %td Percentage of population without health insurance
            %td.stat
                .statistic 18.7%
                %div (2014)
            %td Hispanic
            %td.stat
                .statistic 28.1%
                %div (2014)
            %td.stat
                .statistic 22.5%
                %div (20% decrease)
            %td
                %a{:href => "http://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml"} American Community Survey 2010-2014, US Census Bureau

        / Row 15
        %tr.yellow
            %td.indicator DENTAL CARE EMERGENCIES
            %td Rate of dental-related emergency department visits
            %td.stat
                .statistic 39.0
                %div per 10,000
                %div (2011)
            %td High hardship communities
            %td.stat
                .statistic 53.8
                %div per 10,000
                %div (2011)
            %td.stat
                .statistic 51.1
                %div per 10,000
                %div (5% decrease)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/prevention-wellness/patient-safety-quality/discharge-data"} Discharge Data, Division of Patient Safety and Quality, Illinois Department of Public Health

        / Row 16
        %tr.yellow
            %td.indicator HEALTH CARE SATISFACTION
            %td Percentage of adults who were satisfied with the health care they received
            %td{:colspan => 4} Data available 2016
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 17
        %tr.yellow
            %td.indicator ROUTINE CHECKUP
            %td Percentage of adults who visited a doctor or health care provider for a routine checkup in the past year
            %td.stat
                .statistic 76.8%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 76.8%
                %div (2014)
            %td.stat
                .statistic 80.6%
                %div (5% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 18
        %tr.yellow
            %td.indicator RECEIVED NEEDED CARE
            %td Percentage of adults who report it is “usually” or “always” easy to get the care, tests, or treatment they needed through their health plan
            %td{:colspan => 4} Data available 2016
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 19
        %tr.yellow
            %td.indicator ANNUAL DENTAL CLEANINGS
            %td Percentage of adults who report having had their teeth cleaned by a dentist or dental hygienist in the past year
            %td{:colspan => 4} Data available 2016
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health


        / Orange Supercategory

        / Built Environment, Economic Development, Housing
        / Row 20
        %tr.orange.category
            %th{:colspan => 7} BUILT ENVIRONMENT, ECONOMIC DEVELOPMENT, HOUSING

        / Row 21
        %tr.orange
            %td.indicator HOUSING COST BURDEN
            %td Percentage of households whose housing costs are at least 35% of household income
            %td.stat
                .statistic 38.7%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 38.7%
                %div (2014)
            %td.stat
                .statistic 36.8%
                %div (5% decrease)
            %td
                %a{:href => "http://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml"} American Community Survey 2010-2014, US Census Bureau

        / Row 22
        %tr.orange
            %td.indicator PERMANENT SUPPORTIVE HOUSING
            %td Number of permanent supportive housing units
            %td.stat
                .statistic 6,946
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 6,946
                %div (2014)
            %td.stat
                .statistic 7,293
                %div (5% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/fss.html"} Department of Family & Support Services, City of Chicago

        / Row 23
        %tr.orange
            %td.indicator HEALTHY HOMES
            %td Adoption of model of healthy homes codes
            %td{:colspan => 5} Data and metric forthcoming

        / Row 24
        %tr.orange
            %td.indicator LEAD POISONING
            %td Percentage of children less than 3 years of age with elevated blood lead levels (> 6 mcg/dL)
            %td.stat
                .statistic 3.4%
                %div (2014)
            %td Very low child opportunity communities
            %td.stat
                .statistic 5.7%
                %div (2014)
            %td.stat
                .statistic 3.7%
                %div (35% decrease)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/environmental-health-protection/lead-poisoning-prevention/childhood-surveillance"} Lead Poisoning Prevention, Chicago Department of Public Health

        / Row 25
        %tr.orange
            %td.indicator UNEMPLOYMENT
            %td Percentage of civilian labor force who are unemployed
            %td.stat
                .statistic 8.4%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 8.4%
                %div  (2014)
            %td.stat
                .statistic 7.6%
                %div (10% decrease)
            %td
                %a{:href => "http://www.bls.gov/"} US Department of Labor; Bureau of Labor Statistics

        / Row 26
        %tr.orange
            %td.indicator SAVINGS & ASSETS
            %td Asset development through capital, such as savings, financial securities (stocks and bonds), property ownership, as well as education, job training and access to credit.
            %td{:colspan => 5} Data and metric forthcoming

        / Row 27
        %tr.orange
            %td.indicator ACTIVE TRANSPORTATION
            %td Percentage of workers who walk, bike, or take public transportation as their primary mode of getting to work
            %td.stat
                .statistic 37.0%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 37.0%
                %div (2014)
            %td.stat
                .statistic 40.7%
                %div (10% increase)
            %td
                %a{:href => "http://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml"} American Community Survey 2010-2014, US Census Bureau

        / Row 28
        %tr.orange
            %td.indicator NEIGHBORHOOD SAFETY
            %td Percentage of adults who feel safe in their neighborhood “all” or “most” of the time
            %td{:colspan => 4} Data available 2016
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 29
        %tr.orange
            %td.indicator TRAFFIC CRASH INJURIES
            %td Number of serious injuries resulting from traffic crashes (all roadway users)
            %td.stat
                .statistic 2,213
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 2,213
                %div (2014)
            %td.stat
                .statistic 1,452
                %div (34% decrease)
            %td
                %a{:href => "http://www.idot.illinois.gov/"} Illinois Department of Transportation

 
        / Education
        / Row 30
        %tr.orange.category
            %th{:colspan => 7} EDUCATION

        / Row 31
        %tr.orange
            %td.indicator EARLY CHILDHOOD EDUCATION
            %td Percentage of eligible 3 to 5 year olds in early childhood education
            %td.stat
                .statistic 45.0%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 45.0%
                %div (2014)
            %td.stat
                .statistic 54.0%
                %div (20% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 32
        %tr.orange
            %td.indicator SCHOOL ATTENDANCE
            %td Percentage of school days attended by Chicago Public School students
            %td.stat
                .statistic 93.0%
                %div (2013-2014)
            %td Homeless students
            %td.stat
                .statistic 77.0%
                %div (2013-2014)
            %td.stat
                .statistic 93.0%
                %div (21% increase)
            %td
                %a{:href => "http://cps.edu/Pages/home.aspx"} Chicago Public Schools

        / Row 33
        %tr.orange
            %td.indicator POST-SECONDARY PROGRAMS
            %td Percentage of Chicago Public School students who enroll in post-secondary programs (e.g., college, community college, vocational training)
            %td{:colspan => 4} Data available 2016
            %td
                %a{:href => "http://cps.edu/Pages/home.aspx"} Chicago Public Schools


        / Blue Supercategory

        / Behavioral Health
        / Row 34
        %tr.blue.category
            %th{:colspan => 7} BEHAVIORAL HEALTH

        / Row 35
        %tr.blue
            %td.indicator SERIOUS PSYCHOLOGICAL DISTRESS
            %td Percentage of adults who reported serious psychological distress based on how often they felt nervous, hopeless, restless or fidgety, depressed, worthless, or that everything was an effort in the past 30 days
            %td.stat
                .statistic 5.2%
                %div (2014)
            %td High poverty communities
            %td.stat
                .statistic 10.3%
                %div (2014)
            %td.stat
                .statistic 9.8%
                %div (5% decrease)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 36
        %tr.blue
            %td.indicator BEHAVIORAL HEALTH TREATMENT
            %td Percentage of adults who experience serious psychological distress and who are currently taking medicine or receiving treatment from a doctor or other health professional for any type of mental health condition or emotional problem
            %td.stat
                .statistic 50.3%
                %div (2014)
            %td Adults with serious psychological distress
            %td.stat
                .statistic 50.3%
                %div (2014)
            %td.stat
                .statistic 55.3%
                %div (10% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 37
        %tr.blue
            %td.indicator SUICIDE ATTEMPTS
            %td Percentage of high school students who attempted suicide that resulted in an injury, poisoning, or overdose that had to be treated by a doctor or nurse in the past 12 months
            %td.stat
                .statistic 3.5%
                %div (2013)
            %td LGBTQ youth
            %td.stat
                .statistic 11.3%
                %div (2013)
            %td.stat
                .statistic 10.2%
                %div (10% decrease)
            %td
                %a{:href => "http://www.cdc.gov/healthyyouth/data/yrbs/index.htm"} Youth Risk Behavioral Surveillance System, Chicago Public Schools

        / Row 38
        %tr.blue
            %td.indicator DEPRESSION
            %td Percentage of high school students who reported feeling sad or hopeless almost every day for 2 or more weeks in a row so that they stopped doing some usual activities during the past 12 months
            %td.stat
                .statistic 32.5%
                %div (2013)
            %td Female adolescents
            %td.stat
                .statistic 40.7% 
                %div (2013)
            %td.stat
                .statistic 38.7%
                %div (5% decrease)
            %td
                %a{:href => "http://www.cdc.gov/healthyyouth/data/yrbs/index.htm"} Youth Risk Behavioral Surveillance System, Chicago Public Schools
 
        / Row 39
        %tr.blue
            %td.indicator PRESCRIPTION OPIATE ABUSE
            %td Percentage of adults who report in the past 12 months either ever taking prescription pain relievers, such as oxycodone or hydrocodone, at a higher dosage or taking it more often than directed in the prescription, or ever taking a prescription pain reliever that was not prescribed to them
            %td{:colspan => 4} Data available 2016
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 40
        %tr.blue
            %td.indicator OPIATE OVERDOSE
            %td Number of ambulance runs in response to suspected opiate overdose
            %td.stat
                .statistic 2,506
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 2,506
                %div (2014)
            %td.stat
                .statistic 2,005
                %div (20% decrease)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cfd.html"} Chicago Fire Department

        / Row 41
        %tr.blue
            %td.indicator BINGE DRINKING
            %td Percentage of adults who report binge drinking in the past month
            %td.stat
                .statistic 29.0%
                %div (2011)
            %td Non-Hispanic white males
            %td.stat
                .statistic 45.8%
                %div (2011)
            %td.stat
                .statistic 43.5%
                %div (5% decrease)
            %td
                %a{:href => "http://app.idph.state.il.us/brfss/"} Behavioral Risk Factor Surveillance System, Illinois Center for Health Statistics, Illinois Department of Public Health

        / Row 42
        %tr.blue
            %td.indicator BEHAVIORAL HEALTH HOSPITALIZATIONS
            %td Age-adjusted rate of hospitalizations due to behavioral health disorders
            %td.stat
                .statistic 226.8
                %div per 10,000
                %div (2011)
            %td Citywide
            %td.stat
                .statistic 226.8
                %div per 10,000
                %div (2011)
            %td.stat
                .statistic 204.1
                %div per 10,000
                %div (10% decrease)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/prevention-wellness/patient-safety-quality/discharge-data"} Discharge Data, Division of Patient Safety and Quality, Illinois Department of Public Health

        / Row 43
        %tr.blue 
            %td.indicator PRIMARY CARE UTILIZATION
            %td Percentage of adults who visited a doctor or health care provider for a routine checkup in the past year
            %td.stat
                .statistic 76.8%
                %div (2014)
            %td Adults with serious psychological distress
            %td.stat
                .statistic 78.9%
                %div (2014)
            %td.stat
                .statistic 86.8%
                %div (10% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health


        / Child & Adolescent Health
        / Row 44
        %tr.blue.category
            %th{:colspan => 7} CHILD & ADOLESCENT HEALTH

        / Row 45
        %tr.blue
            %td.indicator INFANT MORTALITY
            %td Rate of deaths before age 1
            %td.stat
                .statistic 7.8
                %div per 1,000 births
                %div (2013)
            %td High hardship communities
            %td.stat
                .statistic 9.7
                %div per 1,000 births
                %div (2013)
            %td.stat
                .statistic 8.7
                %div per 1,000 births
                %div (10% decrease)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/birth-death-other-records/birth-records"} Birth Data, Division of Vital Records, Illinois Department of Public Health

        / Row 46
        %tr.blue
            %td.indicator EARLY INTERVENTION SERVICES
            %td Number of children with developmental delays less than 4 years of age who have a plan for special services
            %td{:colspan => 4} Data available 2016
            %td
                %a{:href => "http://www.illinois.gov/hfs/Pages/default.aspx"} Illinois Department of Healthcare and Family Services

        / Row 47
        %tr.blue
            %td.indicator{:rowspan => 3} SCHOOL-BASED HEALTH SERVICES
            %td Number of Chicago Public School students who receive a school-based vision exam
            %td.stat
                .statistic 43,878
                %div (2014-2015)
            %td Citywide
            %td.stat
                .statistic 43,878
                %div (2014-2015)
            %td.stat
                .statistic 48,753
                %div (10% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/provdrs/healthychicago/svcs/the_office_of_adolescentandschoolhealth.html"} Adolescent & School Health, Chicago Department of Public Health

        / Row 48
        %tr.blue
            // %td SCHOOL-BASED HEALTH SERVICES
            %td Number of Chicago Public School students who receive a school-based dental exam
            %td.stat
                .statistic 115,238
                %div (2014-2015)
            %td Citywide
            %td.stat
                .statistic 115,238
                %div (2014-2015)
            %td.stat
                .statistic 144,048
                %div (20% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/provdrs/healthychicago/svcs/the_office_of_adolescentandschoolhealth.html"} Adolescent & School Health, Chicago Department of Public Health

        / Row 49
        %tr.blue
            // %td SCHOOL-BASED HEALTH SERVICES
            %td Number of Chicago Public School students who receive a school-based screening for sexually transmitted infections
            %td.stat
                .statistic 6,399
                %div (2014-2015)
            %td Citywide
            %td.stat
                .statistic 6,399
                %div (2014-2015)
            %td.stat
                .statistic 7,039
                %div (10% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/provdrs/healthychicago/svcs/the_office_of_adolescentandschoolhealth.html"} Adolescent & School Health, Chicago Department of Public Health

        / Row 50
        %tr.blue
            %td.indicator TEEN BIRTH RATE
            %td Rate of births to mothers aged 15-19 years
            %td.stat
                .statistic 35.5
                %div per 1,000
                %div (2013)
            %td Very low child opportunity communities
            %td.stat
                .statistic 57.3
                %div per 1,000
                %div (2013)
            %td.stat
                .statistic 51.6
                %div per 1,000
                %div (10% decrease)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/birth-death-other-records/birth-records"} Birth Data, Division of Vital Records, Illinois Department of Public Health


        / Chronic Disease
        / Row 51
        %tr.blue.category
            %th{:colspan => 7} CHRONIC DISEASE

        / Row 52
        %tr.blue
            %td.indicator{:rowspan => 2} FRUIT & VEGETABLE SERVINGS
            %td Percentage of high school students who reported consuming five or more fruit and vegetable servings daily in the past week
            %td.stat
                .statistic 18.3%
                %div (2013)
            %td Citywide
            %td.stat
                .statistic 18.3%
                %div (2013)
            %td.stat
                .statistic 20.3%
                %div (10% increase)
            %td
                %a{:href => "http://www.cdc.gov/healthyyouth/data/yrbs/index.htm"} Youth Risk Behavioral Surveillance System, Chicago Public Schools

        / Row 53
        %tr.blue
            / %td
            %td Percentage of adults who reported consuming five or more fruit and vegetable servings yesterday
            %td.stat
                .statistic 29.2%
                %div (2014) 
            %td African-Americans
            %td.stat
                .statistic 18.9%
                %div (2014)
            %td.stat
                .statistic 20.8%
                %div (10% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 54
        %tr.blue
            %td.indicator{:rowspan => 2} SODA CONSUMPTION
            %td Percentage of high school students who reported consuming one or more can/bottle/glass of soda daily in the past week
            %td.stat
                .statistic 23.1%
                %div (2013)
            %td Citywide
            %td.stat
                .statistic 23.1%
                %div (2013)
            %td.stat
                .statistic 21.9%
                %div (5% decrease)
            %td
                %a{:href => "http://www.cdc.gov/healthyyouth/data/yrbs/index.htm"} Youth Risk Behavioral Surveillance System, Chicago Public Schools

        / Row 55
        %tr.blue
            // %td SODA CONSUMPTION
            %td Percentage of adults who drank soda or pop at least once per day in the past month
            %td{:colspan => 4} Data available 2016
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 56
        %tr.blue 
            %td.indicator{:rowspan => 2} PHYSICAL ACTIVITY
            %td Percentage of high school students who were physically active at least 60 minutes per day during the last week
            %td.stat
                .statistic 19.6%
                %div (2013)
            %td Citywide
            %td.stat
                .statistic 19.6%
                %div (2013)
            %td.stat
                .statistic 20.6%
                %div (5% increase)
            %td
                %a{:href => "http://www.cdc.gov/healthyyouth/data/yrbs/index.htm"} Youth Risk Behavioral Surveillance System, Chicago Public Schools

        / Row 57
        %tr.blue
            // %td PHYSICAL ACTIVITY
            %td Percentage of adults with no leisure time physical activity in the past month
            %td.stat
                .statistic 18.3%
                %div (2014)
            %td High poverty communities
            %td.stat
                .statistic 22.7%
                %div (2014)
            %td.stat
                .statistic 21.6%
                %div (5% decrease)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 58
        %tr.blue
            %td.indicator{:rowspan => 3} SMOKING
            %td Percentage of high school students who currently smoke cigarettes
            %td.stat
                .statistic 10.7%
                %div (2013)
            %td Citywide
            %td.stat
                .statistic 10.7%
                %div (2013)
            %td.stat
                .statistic 9.6%
                %div (10% decrease)
            %td
                %a{:href => "http://www.cdc.gov/healthyyouth/data/yrbs/index.htm"} Youth Risk Behavioral Surveillance System, Chicago Public Schools

        / Row 59
        %tr.blue
            // %td SMOKING
            %td Percentage of adults who currently smoke cigarettes
            %td.stat
                .statistic 18.4%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 18.4%
                %div (2014)
            %td.stat
                .statistic 16.6%
                %div (10% decrease)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 60
        %tr.blue
            // %td SMOKING
            %td Percentage of adults who currently use electronic cigarettes
            %td.stat
                .statistic 3.9%
                %div (2014)
            %td Adults aged 18-29 years
            %td.stat
                .statistic 6.3%
                %div (2014)
            %td.stat
                .statistic 5.7%
                %div (10% decrease)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 61
        %tr.blue
            %td.indicator{:rowspan => 3} CANCER SCREENINGS
            %td Percentage of women aged 50-74 years reporting having a mammogram in the past 2 years
            %td.stat
                .statistic 75.6%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 75.6%
                %div (2014)
            %td.stat
                .statistic 79.4%
                %div (5% increase)
            %td
                %a{:href => @survey_link} #{@survey_text}

        / Row 62
        %tr.blue
            // %td CANCER SCREENINGS
            %td Percentage of women aged 21-65 years reporting having a Pap test within the past 3 years
            %td.stat
                .statistic 82.9%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 82.9%
                %div (2014)
            %td.stat
                .statistic 87.0%
                %div (5% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 63
        %tr.blue
            // %td CANCER SCREENINGS
            %td Percent of adults aged 50-75 years reporting having a sigmoidoscopy/colonoscopy in the past 10 years, having a sigmoidoscopy/colonscopy in the past 5 years and a blood stool test in the past 3 years, or having a blood stool test in past year
            %td.stat
                .statistic 60.4%
                %div (2014)
            %td High poverty communities
            %td.stat
                .statistic 47.9%
                %div (2014)
            %td.stat
                .statistic 52.7%
                %div (10% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 64
        %tr.blue
            %td.indicator HPV VACCINATION
            %td Percentage of female adolescents aged 13-17 years who received three or more doses of HPV vaccine
            %td.stat
                .statistic 52.6%
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 52.6%
                %div (2014)
            %td.stat
                .statistic 80.0%
                %div (52% increase)
            %td
                %a{:href => "http://www.cdc.gov/nchs/nis.htm"} National Immunization Survey, National Center for Immunization and Respiratory Diseases, Centers for Disease Control and Prevention

        / Row 65
        %tr.blue
            %td.indicator BREAST CANCER MORTALITY
            %td Age-adjusted rate of female breast cancer deaths
            %td.stat
                .statistic 24.9
                %div per 100,000
                %div (2013)
            %td African-American women
            %td.stat
                .statistic 33.3
                %div per 100,000
                %div (2013)
            %td.stat
                .statistic 30.0
                %div per 100,000
                %div (10% decrease)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/birth-death-other-records"} Death Data, Division of Vital Records, Illinois Department of Public Health

        / Row 66
        %tr.blue
            %td.indicator ASTHMA EMERGENCY DEPARTMENT VISITS
            %td Age-adjusted emergency department visit rate due to asthma for the population less than 18 years of age
            %td.stat
                .statistic 147.7
                %div per 10,000
                %div (2011)
            %td African-Americans
            %td.stat
                .statistic 280.0
                %div per 10,000
                %div (2011)
            %td.stat
                .statistic 252.0
                %div per 10,000
                %div (10% decrease)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/prevention-wellness/patient-safety-quality/discharge-data"} Discharge Data, Division of Patient Safety and Quality, Illinois Department of Public Health

        / Row 67
        %tr.blue
            %td.indicator DIABETES-RELATED HOSPITALIZATIONS
            %td Age-adjusted hospitalization rate due to diabetes-related lower extremity amputations
            %td.stat
                .statistic 2.0
                %div per 10,000
                %div (2011)
            %td High hardship communities
            %td.stat
                .statistic 3.0
                %div per 10,000
                %div (2011)
            %td.stat
                .statistic 2.7
                %div per 10,000
                %div (10% decrease)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/prevention-wellness/patient-safety-quality/discharge-data"} Discharge Data, Division of Patient Safety and Quality, Illinois Department of Public Health


        / Infectious Disease
        / Row 68
        %tr.blue.category
            %th{:colspan => 7} INFECTIOUS DISEASE

        / Row 69
        %tr.blue
            %td.indicator HEPATITIS C TREATMENT
            %td Access and availability to treatment for persons diagnosed with Hepititis C
            %td{:colspan => 5} Data and metric forthcoming

        / Row 70
        %tr.blue
            %td.indicator HIV INCIDENCE
            %td Number of new HIV infections
            %td.stat
                .statistic 973
                %div (2014)
            %td African-American men who have sex with men
            %td.stat
                .statistic 355
                %div (2014)
            %td.stat
                .statistic 320
                %div (10% decrease)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/provdrs/pol_plan_report/svcs/get_sti_hiv_datainchicago.html"} HIV Surveillance, Chicago Department of Public Health

        / Row 71
        %tr.blue
            %td.indicator LINKAGE TO HIV CARE
            %td Percentage of persons with newly diagnosed HIV infections that are linked to HIV medical care within 90 days of diagnosis
            %td.stat
                .statistic 81.5%
                %div (2014)
            %td African-Americans
            %td.stat
                .statistic 78.6%
                %div (2014)
            %td.stat
                .statistic 90.0%
                %div (15% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/provdrs/pol_plan_report/svcs/get_sti_hiv_datainchicago.html"} HIV Surveillance, Chicago Department of Public Health

        / Row 72
        %tr.blue
            %td.indicator ENGAGEMENT IN HIV CARE
            %td Percentage of persons living with HIV that are engaged in HIV medical care
            %td.stat
                .statistic 55.0%
                %div (2012)
            %td Citywide
            %td.stat
                .statistic 55.0%
                %div (2012)
            %td.stat
                .statistic 74.3%
                %div (35% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/provdrs/pol_plan_report/svcs/get_sti_hiv_datainchicago.html"} HIV Surveillance, Chicago Department of Public Health

        / Row 73
        %tr.blue
            %td.indicator HIV VIRAL SUPPRESSION
            %td Percentage of persons living with HIV who have an undetectable viral load
            %td.stat
                .statistic 45.0%
                %div (2012)
            %td Citywide
            %td.stat
                .statistic 45.0%
                %div (2012)
            %td.stat
                .statistic 90.0%
                %div (100% increase)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/provdrs/pol_plan_report/svcs/get_sti_hiv_datainchicago.html"} HIV Surveillance, Chicago Department of Public Health

        / Row 74
        %tr.blue
            %td.indicator CHLAMYDIA
            %td Rate of reported chlamydia cases
            %td.stat
                .statistic 1,013
                %div per 100,000
                %div (2013)
            %td African-American females under 25 years
            %td.stat
                .statistic 4,567
                %div per 100,000
                %div (2013)
            %td.stat
                .statistic 3,425
                %div per 100,000
                %div (25% decrease)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/provdrs/pol_plan_report/svcs/get_sti_hiv_datainchicago.html"} STI Surveillance, Chicago Department of Public Health


        / Violence
        / Row 75
        %tr.blue.category
            %th{:colspan => 7} VIOLENCE

        / Row 76
        %tr.blue
            %td.indicator GUN-RELATED HOMICIDES
            %td Age-adjusted homicide rate as the result of firearm use
            %td.stat
                .statistic 10.8
                %div per 100,000
                %div (2013)
            %td African-American males
            %td.stat
                .statistic 55.4
                %div per 100,000
                %div (2013)
            %td.stat
                .statistic 44.3
                %div per 100,000
                %div (20% decrease)
            %td
                %a{:href => "http://www.dph.illinois.gov/topics-services/birth-death-other-records"} Death Data, Division of Vital Records, Illinois Department of Public Health


        / Row 77
        %tr.blue
            %td.indicator NON-FATAL SHOOTINGS
            %td Number of non-fatal shootings reported
            %td.stat
                .statistic 2,435
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 2,435
                %div (2014)
            %td.stat
                .statistic 1,948
                %div (20% decrease)
            %td
                %a{:href => "http://home.chicagopolice.org/"} Chicago Police Department


        / Row 78
        %tr.blue
            %td.indicator SEXUAL ASSAULT
            %td Number of sexual assault crimes reported
            %td.stat
                .statistic 2,395
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 2,395
                %div (2014)
            %td.stat
                .statistic 2,156
                %div (10% decrease)
            %td
                %a{:href => "http://home.chicagopolice.org/"} Chicago Police Department


        / Row 79
        %tr.blue
            %td.indicator VIOLENT CRIME IN PUBLIC SPACES
            %td Number of gun-related violent crimes reported that occurred in public spaces (e.g. street, sidewalk, park, etc)
            %td.stat
                .statistic 9,577
                %div (2014)
            %td Citywide
            %td.stat
                .statistic 9,577
                %div (2014)
            %td.stat
                .statistic 7,662
                %div (20% decrease)
            %td
                %a{:href => "http://home.chicagopolice.org/"} Chicago Police Department


        / Row 80
        %tr.blue
            %td.indicator SUSPENSIONS
            %td Percentage of Chicago Public School students who received out-of-school suspensions
            %td.stat
                .statistic 2.6%
                %div (2014-2015)
            %td Citywide
            %td.stat
                .statistic 2.6%
                %div (2014-2015)
            %td.stat
                .statistic 1.3%
                %div (50% decrease)
            %td
                %a{:href => "http://cps.edu/Pages/home.aspx"} Chicago Public Schools

        / Row 81
        %tr.blue
            %td.indicator SCHOOL FIGHTS
            %td Percentage of high school students who were in a physical fight on school property one or more times during the past 12 months
            %td.stat
                .statistic 16.9%
                %div (2013)
            %td Citywide
            %td.stat
                .statistic 16.9%
                %div (2013)
            %td.stat
                .statistic 12.7%
                %div (25% decrease)
            %td
                %a{:href => "http://www.cdc.gov/healthyyouth/data/yrbs/index.htm"} Youth Risk Behavioral Surveillance System, Chicago Public Schools

        / Row 82
        %tr.blue
            %td.indicator BULLYING
            %td Percentage of high school students who report being bullied on school property
            %td.stat
                .statistic 13.0%
                %div (2013)
            %td LGBTQ youth
            %td.stat
                .statistic 30.4% 
                %div (2013)
            %td.stat
                .statistic 27.4%
                %div (10% decrease)
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 83
        %tr.blue
            %td.indicator SCHOOL SAFETY
            %td Percentage of high school students who reported missing school due to safety concerns
            %td.stat
                .statistic 12.9%
                %div (2013)
            %td Citywide
            %td.stat
                .statistic 12.9%
                %div (2013)
            %td.stat
                .statistic 10.3%
                %div (20% decrease)
            %td
                %a{:href => "http://www.cdc.gov/healthyyouth/data/yrbs/index.htm"} Youth Risk Behavioral Surveillance System, Chicago Public Schools

        / Row 84
        %tr.blue
            %td.indicator SOCIAL COHESION
            %td Shared values and trust among neighbors
            %td{:colspan => 4} Data and metric forthcoming
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health

        / Row 85
        %tr.blue
            %td.indicator DISCRIMINATION FROM CRIMINAL JUSTICE SYSTEM
            %td Percentage of adults who report ever experiencing discrimination, been prevented from doing something or been hassled or made to feel inferior from the police or in the courts because of their race, ethnicity or color
            %td{:colspan => 4} Data available 2016
            %td
                %a{:href => "http://www.cityofchicago.org/city/en/depts/cdph/supp_info/clinical_health/healthy-chicago-survey.html"} Healthy Chicago Survey, Chicago Department of Public Health
