$black: #000;
$white: #fff;

$primaryColor: #13b5ea;
$secondaryColor:  #eF3e42;
$whiteColor: #f2f2f2;

$nav-user-icon-bg: $white;
$custom-button-bg-color: #3f8abf;
$custom-button-hover-bg-color: #3f8abf;
$custom-button-border-color: #326e99;
$custom-button-boxshadow-bg: rgba(255, 255, 255, .1);
