/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #mapCanvas img {
   max-width: none;
 }

 .filter-box { 
   height: 15px; 
   width: 15px;  
   display: inline-block;
   *border-right-width: 2px;
   *border-bottom-width: 2px;
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
   -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
           background-clip: padding-box; 
 }

 #view_accordion {
   height: 500px;
   overflow: scroll;
 }

 .accordion-group {
   background-color: #fff;
 }

 .accordion-toggle.active {
   background-color: #eee;  
 }

 .chart {
   min-width: 200px; 
   height: 300px; 
   margin: 0 auto;
 }