/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  padding-bottom: 50px;
}
 #mapCanvas img {
   max-width: none;
 }

 .filter-box { 
   height: 15px; 
   width: 15px;  
   display: inline-block;
   *border-right-width: 2px;
   *border-bottom-width: 2px;
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
   -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
           background-clip: padding-box; 
 }

 #view_accordion {
   height: 500px;
   overflow: scroll;
 }

 .accordion-group {
   background-color: #fff;
 }

 .accordion-toggle.active {
   background-color: #eee;  
 }

 .chart {
   min-width: 200px; 
   height: 250px; 
   margin: 0 auto;
 }

 #map {
  width: 800px;
  height: 500px;
}

 #map_detail {
  width: 100%;
  height: 300px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.row-fluid {
  padding-top: 20px;
}
.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

ul.partners {
  margin: 0;
}
ul.partners li{
  list-style: none;
  padding: 20px 0px;
}
ul.partners li img{
  padding-left: 10px;
  width: 300px;
}

.img-polaroid {
  display: block;
  margin-bottom: 14px;
  padding: 4px;
  width: auto;
}