*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}
body {
  background: url(image_path('login-bg.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 .container-table {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     border-radius: 20px;
 }

 .container-table p{
     max-width: 50%;
     padding: 15px;
     background-color: #f1f1f1;
 }
