@import 'bootstrap-sprockets';
@import 'bootstrap';

$primaryColor: #13B5EA;
$secondaryColor:  #EF3E42;
$whiteColor: #F2F2F2;


body,
html {
  height: 100%;
  background-color: #fff;
}

body {
  text-align: center;


  .alert-alert {
    @extend .alert-warning;
  }

  .alert-notice {
    @extend .alert-info;
  }
}

form input {
  color: black;
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
