

body,
html {
  background-color: $white;
  height: 100%;
}

body {
  text-align: center;

  .alert-alert {
    @extend .alert-warning;
  }

  .alert-notice {
    @extend .alert-info;
  }
}

form  {
  input {
    color: $black;
  }
}

.container-table {
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.btn-custom {
  &.btn-custom {
    background-color: $custom-button-bg-color;
    border-color: $custom-button-border-color;
    border-radius: 6px;
    border-style: solid;
    border-width: 0 0 3px;
    box-shadow: 0 -1px 0 $custom-button-boxshadow-bg inset;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto;
    overflow: hidden;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: 200ms ease-in-out 0s;
    white-space: nowrap;

    &:hover {
      background-color: $custom-button-border-color;
      text-decoration: none;
    }

    &:focus {
      outline: 0;
    }
  }
}


.btn-file {
  overflow: hidden;
  position: relative;

  input {
    background: $white;
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
}
