%h2{:id => category.name.parameterize.underscore}
  = category.name

%p
  = category.description

.row-fluid
  - @datasets = get_datasets(geography.id, category.id)

  - @datasets.each do |dataset|
    = render :partial => "geography/dataset", :locals => {:dataset => dataset}

.clearfix
%hr